.font{
  font-family: PingFangSC-Regular, sans-serif;
}

.bold{
  font-weight: bold;
}

//文字大小
.slogan{
  font-size: 50rpx;
}

.subslogan{
  font-size: 35rpx;
}

.title{
  font-size: 30rpx;
}

.subtitle{
  font-size: 25rpx;
}

//颜色
.white{
  color: white;
}

.black{
  color: #474747;
}

.pink{
  color: #f06292;
}

.blue{
  color: rgb(34,132,159);
}

.grey{
  color: rgb(211,210,211);
}
